#wheel {
    height: 25vh;
    width: 25vh;
    border-radius: 50%;
    display: inline-block;
    background: conic-gradient(from 0deg, red, yellow, green);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    position: absolute;
}

button {
    width: 100px;
    height: 25px;
}